<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}
</style>
</head>
<body>

<table id="t01">
    {% for topic in topics %}
  <tr>
      {% if topic == 'link' %}
      {% set link = topics.index(topic) %}
      {% endif %}
    <th>{{topic}}</th>
  </tr>
    {% endfor %}
    {% for row in details %}
  <tr>
      {% for data in row %}
      {% if row.index(data) == link %}
    <td><a href={{data}}>Link</a></td>
      {% else %}
      <td>{{ data }}</td>
      {% endif %}
      {% endfor %}
  </tr>
    {% endfor %}
</table>
</body>
</html>
